#lsp-block-popup .lsp-block-items-popup{
  box-shadow: inset 3px 0 0 0 $mainColor;
  .lsp-popup-item-image{
    display: block;
    background: url("../images/nophoto.png") center center no-repeat;
    background-size: cover;
    img{
      object-fit: cover;
      max-width: none;
      width: 100%;
      min-height: 300px;
    }
  }
  .lsp-popup-energy-cont{
    display: none;
  }
  .lsp-popup-item-description-block{
    .lsp-popup-energy-cont{
      display: none !important;
    }
    .lsp-js-modifiers-block{
      .lsp-popup-modifier-title{
        &:first-letter{
          text-transform: uppercase;
        }
      }
      .lsp-js-modifiers-container{
        .lsp-modifier-item{
          .lsp-modifier-name-c{
            .lsp-modifer-minmax-c{
              display: none;
            }
          }
        }
      }
    }
  }
  .lsp-type-modifer-group-items-c{

    .lsp-type-modifier-item{
      span{
        border-left: 2px solid transparent;
        &:before{
          font-family: "Font Awesome 5 Free";
          content: '\f0c8';
          padding-right: 10px;
          color: $whiteColor;

        }
      }
      &:hover span {
        background: $transparent;
        border-left: 2px solid $transparent;
      }
      .lsp-button-red{
        &:before{
          font-family: "Font Awesome 5 Free";
          content: '\f14a';
          padding-right: 10px;
          color: $mainColor;
        }
      }
      .lsp-button-red:hover{
        background: $transparent;
      }
    }
    .lsp-popup-count{
      font-size: 14px;
    }
  }
  .lsp-js-popup-close{
    background-size: contain;
    background-image: url(../images/close.png);
    width: 27px;
    height: 27px;
  }
}