$mainColor: #8acab5;
$secondColor: #7CB5A2;
$thirdColor:#6CA28F;
$hoverColor: #528471;
$textColor: #fff;
$btnColor: #8acab5;
$whiteColor: #ffffff;
$lessGrayColor: #f2f2f2;
$grayColor: #e0e0e0;
$grayColorOpacity: rgba($grayColor, .7);
$moreGrayColor: hsl(0, 0%, 35%);
$errorColor: #f00;
$summColor: #cf3734;
$blackColor: #000;
$bgPopupColor: #3b3b3b;
$transparent: transparent;